[class*="-Page-body"] {
    padding: var(--Page-body-padding) !important;
}

.Editor-view-mode-group {
    width: 100px;
    height: 32px;
    border-radius: 4px;
    background-color: var(--secondary-onHover);
    display: flex;
    justify-content: center;
    align-items: center;
    .Editor-view-mode-btn {
        border-radius: 4px;
        width: 40px;
        height: 24px;
        cursor: pointer;
        transition: transform ease-out 0.2s;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:first-child {
            margin-right: 12px;
        }
        &.is-active {
            background: var(--primary);
            svg {
                color: #fff;
            }
            &:hover {
                background: var(--primary);
            }
        }
    }
}