#root{
    height: 100%;
}
[class*="-Page"] {
    height: 100%;
}
/* 头样式 */
#header [class*="-Layout-brand"] {
    color: var(--body-color);
    font-size: var(--fonts-size-5);
}


#header [class*="-Layout-brandBar"] {
    background: unset !important;
}

[class*="-Layout-header"] {
    border-bottom: var(--Divider-width) var(--Divider-style) var(--Divider-color);
    background: unset !important;
}


/* 页签样式 */

#tabsLayout {
    padding: 10px;
}


/* 左侧菜单样式 */

[class*="-Layout-aside"] {
    background: unset !important;
}

#asideInner {
    border-right: var(--Divider-width) var(--Divider-style) var(--Divider-color);
}

#tabsAsideNav [class*="-AsideNav-item"] a {
    font-size: var(--body-size) !important;
    color: var(--text-color);
}

#tabsAsideNav [class*="-AsideNav-item"].is-active>a {
    background: var(--primary-onHover);
}

#tabsAsideNav [class*="-AsideNav-item"] a:hover {
    background: var(--secondary-onHover);
}


/* 头像样式 下拉卡片容器 */

.dropdown-card-wrapper {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 8px;
    width: 240px;
    z-index: 1000;
}