
.aside-nav-wrapper {
    position: relative;
  }
  .aside-nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
  }


.routes-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cxd-Layout-headerBar {
    display: block !important;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* 设置背景颜色为半透明白色 */
    z-index: 9999; /* 设置 z-index 以保证该组件在页面其他元素上方 */
    backdrop-filter: blur(10px); /* 设置毛玻璃效果，模糊半径为 10px */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); /* 设置边框阴影，颜色为黑色，透明度为 0.2 */
}

.cxd-Layout-brandBar .text-white{
    color: #000;
}


:root{
    --Layout-brand-bg: var(--Menu-light-backgroundColor);
    --Layout-aside-bg: var(--Menu-light-backgroundColor);
    --Layout-aside-subList-bg: var(--Menu-light-backgroundColor);
    --Layout-aside-color:var(--Menu-light-fontColor);
    --Layout-asideLink-color:var(--Menu-light-fontColor);
    --Layout-aside-onAcitve-bg:var(--colors-brand-10);
    --Layout-aside-onHover-bg:var(--Menu-light-backgroundColor-onHover);
    --Layout-brand-color:var(--colors-neutral-text-1);
    --Layout-asideLink-onActive-arrowColor:var(--colors-neutral-text-1);

}
li.cxd-AsideNav-item.is-top.is-open > a {
    color:var(--Layout-asideLink-onActive-color)
}
li.cxd-AsideNav-item.is-top.is-active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 3px solid var(--colors-brand-5);
    transform: scaleY(1);
    opacity: 1;
    transition: transform .15s cubic-bezier(0.645,.045,.355,1),opacity .15s cubic-bezier(0.645,.045,.355,1);
}
li.cxd-AsideNav-item.is-open.is-active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 3px solid var(--colors-brand-5);
    transform: scaleY(1);
    opacity: 1;
    transition: transform .15s cubic-bezier(0.645,.045,.355,1),opacity .15s cubic-bezier(0.645,.045,.355,1);
}
.cxd-AsideNav-itemArrow:empty:before {
    content: "";
    display: inline-block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform var(--animation-duration) ease;
    transition: -webkit-transform var(--animation-duration) ease;
    transition: transform var(--animation-duration) ease;
    transition: transform var(--animation-duration) ease, -webkit-transform var(--animation-duration) ease;
    width: 0.625rem;
    height: 0.625rem;
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB2aWV3Qm94PSIwIDAgNTEzIDEwMjEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+Cgk8ZyBpZD0icmlnaHQtYXJyb3ciIGZpbGw9IiMwMDAwMDAiIGZpbGwtcnVsZT0ibm9uemVybyI+CgkJPHBhdGggZD0iTTU2LjU1OTA1NCwxMDEzLjc3MzY5IEw1MTIuOTA4MTE2LDUxMi42ODQ1MjQgTDU2LjU1OTA1NCwxMi4yMzQ1MDEgQzQ5LjQxMTQ2NzgsMi45MzQ1NTkxMiAzNy42NjY0MjM4LC0xLjU5MTg4MTc2IDI2LjEyNjIzMjQsMC41MDU5NDgyNDYgQzE0LjU4NjA0MSwyLjYwMzc3ODI1IDUuMTg1NDQ0MDksMTAuOTc0MTcyNyAxLjc2ODE1NTE2LDIyLjE5NDY0NzEgQy0xLjY0OTEzMzc3LDMzLjQxNTEyMTQgMS40ODk4MDIyOCw0NS42MDQ1MzUxIDkuOTAxNTE2LDUzLjc3ODg4NCBMNDI0LjcwNjE5Nyw1MTIuNjg0NTI0IEwxMi40NTgwOTQsOTY5LjY3MjczMSBDMi40NTgyMDU5Niw5ODIuNTUxNDk4IDQuMDEyOTc3MzcsMTAwMC45NDgzIDE2LjAzMjQ0MjIsMTAxMS45NjYxNSBDMjguMDUxOTA3MSwxMDIyLjk4Mzk5IDQ2LjUxNDIzNDYsMTAyMi45MzYxOSA1OC40NzY0ODcsMTAxMS44NTYyNiBMNTYuNTU5MDU0LDEwMTMuNzczNjkgWiIgaWQ9Iui3r+W+hCI+CgkJPC9wYXRoPgoJPC9nPgo8L3N2Zz4K);
    background-position: center center;
    background-repeat: no-repeat;
}
.cxd-Layout-asideWrap{
    border-right: 1px solid #e8ebee;
}
li.cxd-AsideNav-item > a > svg{
    height: 40px;
    width: 40px;
    padding: 12px;
}
.cxd-Layout--folded .cxd-AsideNav-list > .cxd-AsideNav-item > a > svg{
    width: 100% !important;
}


.cxd-AsideNav-subList{
    background-color: white;
}
