.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      url('https://mdn.alipayobjects.com/yuyan_qk0oxh/afts/img/V-_oS6r-i7wAAAAAAAAAAAAAFl94AQBr') no-repeat center center fixed,
      linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)) fixed,
      linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
    background-size: auto, 100%;
    backdrop-filter: blur(10px);
  }

  .title {
    text-align: center; /* 将标题居中 */
  }

  
  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* 设置登录框宽度 */
    max-width: 90%; /* 设置最大宽度 */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .login-button-container {
    margin-top: 10px;
  }
 
  .login-button {
    width: 100%;
  }